.lottery {
    border: 2px solid gray;
    border-radius: 5px;
    width: 32em;
    margin: 2em auto;
    padding: 2em;
}

.lotteryTitle {
    text-transform: uppercase;
}

.lotteryBalls {
   display: flex;
    justify-content: center;
    margin: 1em auto;
}

.lottery Button {
    border-radius: 10px;
    background: darkblue;
    font-size: 1.20em;
    color: #fff;
}
